<!DOCTYPE html>
<html>
  <head>
    <title>MinesweeperBoard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'jquery/dist/jquery.js' %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", type: "module" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
